@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");
body {
  background-image: url("https://image.freepik.com/free-vector/copy-space-spring-background_52683-55304.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  width: 77%;
  margin: auto;
}

header {
  height: 100px;
  background-color: rgba(228, 211, 207, 0.6);
  margin-bottom: 20px;
  margin-top: 10px;
}

header h1 {
  width: 40%;
  font-family: "New Tegomin", serif;
  font-size: 60px;
  padding-left: 30px;
  display: inline;
  padding-top: 10px;
  color: #2b2e4a;
  width: 40%;
}

header nav {
  float: right;
  font-family: "New Tegomin", serif;
  font-size: 20px;
  color: black;
  padding: 10px;
}

header nav a {
  text-decoration: none;
  padding: 10px;
  color: #2b2e4a;
}

main {
  background-color: rgba(228, 211, 207, 0.6);
  color: #2b2e4a;
  padding: 20px;
}

.here-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.mainImg {
  width: 100%;
  object-fit: contain;
  max-width: 500px;
}

.intro {
  width: 45%;
  text-align: center;
  margin: auto;
}

.mainP {
  margin-bottom: 30px;
  font-size: 20px;
}

.social-media {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 0;
}

.social-media a {
  color: #000;
}

.soci {
  list-style: none;
}

.topCounter {
  margin-top: 50px;
}

.topTen {
  text-align: center;
  height: 70px;
  font-family: "New Tegomin", serif;
  font-size: 30px;
  padding-top: 20px;
  color: #2b2e4a;
  background-color: rgba(150, 187, 124, 0.3);
}

ol {
  display: flex;
  gap: 20px;
}
.list {
  width: 100%;
}

.mome {
  color: #2b2e4a;
  border: 2px solid rgba(150, 187, 124, 0.3);
  width: 85%;
  margin: 5px;
  font-size: 18px;
  padding: 15px;
}

.eduSection {
  display: flex;
  gap: 20px;
}
.eduEx {
  width: 100%;
}

.text {
  height: 70px;
  text-align: center;
  margin-bottom: 30px;
  font-family: "New Tegomin", serif;
  font-size: 30px;
  padding-top: 20px;
  color: #2b2e4a;
  background-color: rgba(150, 187, 124, 0.3);
}

ul {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  list-style-type: circle;
}

@media screen and (max-width: 768px) {
  .intro {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  body {
    width: 90%;
    background-repeat: repeat;
  }

  ol,
  .eduSection {
    flex-direction: column;
  }
}
